
@{
    ViewBag.Title = "AddProduct";
}

<fieldset>
    <legend>Enter Product Details:</legend>
    <form>
        <table>
            <tr>
                <td>
                    Enter Name:
                </td>
                <td>
                    <input type="text" name="ProductName" />
                </td>
            </tr>
            <tr>
                <td>
                    Enter Id:
                </td>
                <td>
                    <input type="text" name="ProductId" />
                </td>
            </tr>
            <tr>
                <td>
                    Enter Price:
                </td>
                <td>
                    <input type="text" name="Price" />
                </td>
            </tr>
            <tr>
                <td>
                    Enter Description:
                </td>
                <td>
                    <input type="text" name="Description" />
                </td>
            </tr>
            <tr>
                <td>
                    Enter CategoyId:
                </td>
                <td>
                    <input type="text" name="CategoryId" />
                </td>
            </tr>
            <tr>                
                <td colspan="2" style="text-align:center">
                    <input type="button" name="btnAdd" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>

