@* WebViewPage*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        @this.Html.ActionLink("Show All Products", "ShowProducts")
    </li>
    <li>
        @this.Html.ActionLink("Add a new Product", "AddProduct")
    </li>
</ul>